@model PagedList.IPagedList<ForeverFit.Models.ActivityRecord>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Activity Record";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("Partial/_DetailsPanel")


@Html.Partial("Partial/_Charts")

<div id="table-responsiv">
    <table class="table">
        <tr>
            <th>
                Momento
            </th>
            <th>
                Latitud
            </th>
            <th>
                Longitud
            </th>
            <th>
               Distancia 
            </th>
            <th>
                Velocidad
            </th>
            <th>
                Ritmo Cardiaco
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.timestamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.position_lat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.position_long)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.distance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.speed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.heart_rate)
                </td>
            </tr>
        }

    </table>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, id_activity = ViewBag.IdActivity }))
</div>