@model PagedList.IPagedList<MeloMetrics.Models.Activity>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Activities";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}





    @using (Html.BeginForm("Index", "FitFileManager", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.Partial("Partial/_SummaryPanel")

    <div id="containerUploadFile">
        <div class="fileUpload btn btn-primary">
            <span>Upload</span>
            <input name="fileNameIdController" type="file" class="upload" onchange='$("#upload-file-info").html($(this).val());' />

        </div>
        <span style="width:180px;" class='btn btn-info' id="upload-file-info">&nbsp;</span>
        <input type="submit" class="btn btn-warning" value="ok">
    </div>
    }
    
    @using (Html.BeginForm("Index", "Activity", FormMethod.Get))
    {
        <p>
            Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" />
        </p>
    }




        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                   Identificador
                </th>
                <th> <!-- Este campo es redundante ya que solo vas a ver los de tu propio usuario -->
                   Propietario
                </th>
                <th>
                    @Html.ActionLink("Creado", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter=ViewBag.CurrentFilter  })
                </th>
                <th>
                    @Html.ActionLink("Nombre", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter=ViewBag.CurrentFilter})
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.id_activity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.id_user)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.timestamp)
                        </td>
                        <td>
                            <a href="@Url.Action("Index", "ActivityRecord", new { item.id_activity})">@Html.DisplayFor(modelItem => item.nombre)</a>
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                </tbody>
            }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    