@model MeloMetrics.Models.OneMileWalkTest

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>OneMileWalkTest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_user)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_user)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_activity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_activity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timestamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.position_lat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.position_lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.position_long)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.position_long)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.distance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.distance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.speed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.speed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.heart_rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.heart_rate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
