@model MeloMetrics.Models.OneMileWalkTest

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>OneMileWalkTest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.propietario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propietario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ritmocardiaco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ritmocardiaco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.distancia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.distancia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.velocidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.velocidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tiempo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tiempo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
