@model PagedList.IPagedList<ForeverFit.Models.Activity>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Activities";
}



    @using (Html.BeginForm("Upload", "FitFileManager", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
  
    <div id="containerUploadFile" style="margin-top:30px;">
        <div class="fileUpload btn btn-primary">
            <span>Archivo</span>
            <input name="fileNameIdController" type="file" class="upload" onchange='$("#upload-file-info").html($(this).val());' />

        </div>
        <span style="width:160px;" class='btn btn-info' id="upload-file-info">&nbsp;</span>
        <input type="submit" class="btn btn-warning" value="Subir">
    </div>
    }
    
    
    <table class="table table-hover" >
        <thead>
            <tr>
                <th>
                    @using (Html.BeginForm("Index", "Activity", FormMethod.Get))
                    {
                        <p style="margin-top:30px; width:500px;">
                            Buscar por nombre: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                            <input type="submit" value="ok" />
                        </p>
                    }
                </th>
            </tr>
            <tr>
               
                <th>
                    @Html.ActionLink("Nombre", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter=ViewBag.CurrentFilter})
                </th>
				 <th>
                    @Html.ActionLink("Fecha Realización", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter=ViewBag.CurrentFilter  })
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        
                        <td>
                            <a href="@Url.Action("Index", "ActivityRecord", new { item.Id })">@Html.DisplayFor(modelItem => item.nombre)</a>
                        </td>
						<td>
                            @Html.DisplayFor(modelItem => item.timestamp)
                        </td>
                        <td>
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                </tbody>
            }

</table>
<br />
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    